<div class="container">
  <div class="row">
    <div class="col-md-4">
      <strong>Street:</strong>
      <%= address.street %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>City:</strong>
      <%= address.city %>
    </div>
    <div class="col-md-4">
      <strong>State:</strong>
      <%= address.state %>
    </div>
    <div class="col-md-4">
      <strong>Country:</strong>
      <%= address.country %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Zip Code:</strong>
      <%= address.zip_code %>
    </div>
    <div class="col-md-4">
      <strong>Contact No:</strong>
      <%= address.contact %>
    </div class="col-md-4">
    <div>
      <strong>Email:</strong>
      <%= address.email %>
    </div>
  </div>
</div>
<hr>
