<script type="text/javascript">
  jQuery.noConflict();
  $(document).ready(function($) {
    $('#user_birtday').datepicker();
  });
</script>
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-3"><%= form.label :first_name, class: "required" %></div>
      <div class="col-md-6"><%= form.text_field :first_name, id: :user_first_name, :required => true %></div>
    </div>

    <div class="col-md-6">
      <div class="col-md-3"><%= form.label :last_name, class: "required" %></div>
      <div class="col-md-6"><%= form.text_field :last_name, id: :user_last_name, :required => true %></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-3"><%= form.label :email, class: "required" %></div>
      <div class="col-md-6"><%= form.email_field :email, id: :user_email, :required => true %></div>
    </div>

    <div class="col-md-6">
      <div class="col-md-3"><%= form.label :birthday, class: "required" %></div>
      <div class="col-md-6"><%= form.text_field :birtday, id: :user_birtday, :start_year => Date.current.
    year, :end_year => 1990, :required => true %></div>
    </div>
  </div>
</div>
  
  <hr>
  <h3>User Address</h3>
  <%= form.fields_for :addresses do |builder| %>
    <% render "address_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Address", form, :addresses %>

  <div class="actions">
    <hr>
    <%= form.submit class: "btn  btn-success"%>
  </div>
<% end %>
