<p id="notice"><%= notice %></p>

<h2>User</h2>
<div class="row">
	<div class="col-md-6">
	  <strong>First name:</strong>
	  <%= @user.first_name %>
	</div>

	<div class="col-md-6">
	  <strong>Last name:</strong>
	  <%= @user.last_name %>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	  <strong>Email:</strong>
	  <%= @user.email %>
	</div>

	<div class="col-md-6">
	  <strong>Birtday:</strong>
	  <%= @user.birtday %>
	</div>
</div>
<hr>
<h3>Addresses:</h3>
<%= render @user.addresses %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
