<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table >
  <tr class="field">
    <td><%= form.label :title %></td>
    <td style="padding-bottom: 4px;" ><%= form.text_field :title, id: :post_title %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :body %></td>
    <td><%= form.text_area :body, id: :post_body, size: "30x5" %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :category_id %></td>
    <td><%= form.select :category_id, get_categories.collect { |x| [x.name, x.id]}, { :include_bank => "Select One"} %></td>
  </tr>

  <tr class="field">
    <td colspan="2"><% tags = get_tags %>
      <% tags.each do |tag| %>          
        <input type="checkbox" value=<%= tag.id %> name="post[tag_ids][]" />
        <label for="tag_list"><%= tag.name %></label>
      <% end %></td>
  </tr>
  <tr class="actions">
    <td><%= form.submit %></td>
  </tr>
</table>
<% end %>
