<!-- app/views/users/new.html.erb -->
<%= form_for @user do |f| %>
  <h1><span class="label label-default">Edit User!</span></h1>
  <ul class="nav nav-tabs" role="tablist">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Users', '/allusers' %></li>
    <li class="active"><%= link_to 'Edit User', edit_user_path(@user) %></li>
  </ul>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <table  width="50%" height="100px">

    <tr>
      <td>Name:</td>
      <td> <%= f.text_field :name , disabled: true%></td>
    </tr>
    <tr>
      <td>Email:</td> <td><%= f.text_field :email , disabled: true%></td>
    </tr>
    <tr>
      <td>Password:</td><td> <%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>Password Confirmation:</td><td> <%= f.password_field :password_confirmation %></td>
    </tr>
    <tr >
      <td></td>
      <td style="height :30px"><%= f.submit "Submit" %></td>
    </tr>
  </table>

  <%= link_to 'Back', users_path(@user) , class: 'btn btn-success' %>
<% end %>
