
<h1><span class="label label-default">Listing users</span></h1>

<br><table border="2" width= "100%">

  <tr>
    <th width= "5%" align="center">ID</th>
    <th width= "25%">name</th>
    <th>email</th>
    <th  width= "15%">password</th>
    <th  width= "15%">Edit</th>
    <th  width= "15%">delete</th>


  </tr>

  <% @users.each do |user| %>
    <tr>
      <td align="center"><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.password_digest %></td>
      <td><%= link_to 'Edit', edit_user_path(user) , class: 'btn btn-info btn-xs' %></td>
      <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-xs' %></td>
  <% end %>
</table>
