<!-- app/views/users/new.html.erb -->



<%= form_for @user, url: '/users' do |f| %>
  <h1><span class="label label-default">Signup!</span></h1>
  <ul class="nav nav-tabs" role="tablist">
    <li><%= link_to 'Login', '/login' %></li>
    <li class="active"><%= link_to 'Signup', '/signup' %></li>
  </ul>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <table class="table table-hover table-striped" style="width:50%;height:100%" >

    <tr>
      <td >Name:</td>
      <td> <%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Email:</td> <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td>Password:</td><td> <%= f.password_field :password %></td>
    </tr>
    <tr>
      
      <td>Password Confirmation:</td><td> <%= f.password_field :password_confirmation %></td>
    </tr>
    <tr >
      <td></td>
      <td><%= f.submit "Submit" , class: 'btn btn-success' %></td>
    </tr>
  </table>
<% end %>
