<p id="notice"><%= notice %></p>

<dl class="dl-horizontal ">
  <h2 align="center">Order Details</h2>


  <dt>Order no:</dt>
  <dd><%= @order.order_no %></dd>

</p>

<p>
  <dt>Is express delivery:</dt>
  <dd><%= @order.is_express_delivery %></dd>
</p>
<hr>
<p>
  <dt>Is customer pickup:</dt>
  <dd><%= @order.is_customer_pickup_boolean %></dd>
</p>
<p>
  <dt>Delivery date:</dt>
  <dd><%= @order.delivery_date %></dd>
</p>
<hr>
<!-- <p>
  <dt>Order currency:</dt>
  <dd><%= @order.order_currency %></dd>
</p> -->

<p>
  <dt>Order value:</dt>
  <dd><%= @order.order_value %></dd>
</p>
<hr>
<p>
  <dt>Tracking no:</dt>
  <dd><%= @order.tracking_no %></dd>
</p>
<hr>
<p>
  <dt>Special instruction:</dt>
  <dd><%= @order.special_instruction %></dd>
</p>
<hr>
<h3 align="center">Line Items</h3>
 <% @order.line_items.each do |item| %>
         <dt>Quantity</dt>
        <dd><%= item.quantity %></dd>
            
        <dt>Price:</dt>
        <dd><%= item.price %></dd>
              
        <dt>Product id</dt>
        <dd><%= item.product_id %></dd>
        <hr>
<hr>
<% end %>
</dl>

<%= link_to 'Back', orders_path, class: "btn btn-info" %>
