<h2>Add comments : </h2>
<%= form_for([ @post, @post.comments.build ])  do |f| %>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :body %>
  </p>

  <% @tags = Tag.all %>
      <% @tags.each do |tag| %>
        <input type="checkbox" value= <%= tag.id %> name="comment[tag_ids][]" />
        <label for="tag_list"><%= tag.name %></label>
      <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
