<%= form_for(@post) do |f| %>
  <%= render 'error_message' %>
  <%= f.label :title %><br>
  <%= f.text_field :title, placeholder: "Type the post Title here" %><br>
  <%= f.label :content %><br>
  <%= f.text_area :content, placeholder: "type the post here" %><br>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "Choose A Category"}) %><br>
  <% @tags = Tag.all %>
  <% @tags.each do |tag| %>
      <input type="checkbox" value=<%= tag.id %> name="post[tag_ids][]" />
      <label for="tag_list"><%= tag.name %></label>
    <% end %></td>
  <%= f.submit %>
<% end %>
