<h1>Posts</h1>
<% if user_signed_in? %>
<p> <strong> <%= current_user.email  %> </strong> logged in </p>
<% end %>
<% @posts.each do |post| %>
  <h1><%= link_to post.title, post %></h1>
  <p><%= post.content %></p>
  <% if user_signed_in? %>
    <% if post.user_id == current_user.id %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
<% end %>
