<h1><%= @post.title %></h1>
<p> Posted by <strong><%= @post.user.email %> </strong> <%=  time_ago_in_words(@post.created_at) %> </p>
<p><%= @post.content %></p>
<p>Category : <%= @post.category.name %></p>
<% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
<% end %>

<% if !@post.tags.empty? %>
  <p>
    <strong>Tags:</strong><%= raw @post.tags.map { |t| link_to t.name, tag_path(t.id)}.join(', ') %>
  </p>
<% end %>

<%= render @post.comments %>


<%= render 'comments/form' %>
