<script>
  $(document).ready(function(){
      $('.search').on('keyup',function(){
          var searchTerm = $(this).val().toLowerCase();
          $('#productTbl tbody tr').each(function(){
              var lineStr = $(this).text().toLowerCase();
              if(lineStr.indexOf(searchTerm) === -1){
                  $(this).hide();
              }else{
                  $(this).show();
              }
          });
      });
  });
</script>
<script type="text/javascript">
  $(document).on("change", '#order_address_id', function() {
    var address = $('#order_address_id :selected').val()
      $.ajax({
                   url: "/addresses/" + address, // Route to the Script Controller method
                  type: "GET",
              dataType: "json",
                  
              complete: function() {},
               success: function(data) { 
                        
                         $('#line1').val(data['line1']);
                         $('#line2').val(data['line2']);
                         $('#line3').val(data['line3']);
                         $('#city').val(data['city']);
                         $('#state').val(data['state']);
                         $('#country').val(data['country']);
                         $('#postal_code').val(data['postal_code']);
                         $('#contact_no').val(data['contact_no']);
                         $('#email').val(data['email']);
                                                            
                        },
                 error: function() {
                          alert("Ajax error!")
                        }
      });
  });
</script>
<script type="text/javascript">
     $(document).ajaxComplete(function(){
      $('.add_product').click(function(evt){
        var id = $(this).attr("id")
         alert("add product"+id)
         $(this).closest('tr').hide()
         
         $.ajax({
                   url: "/products/" + id, // Route to the Script Controller method
                  type: "GET",
                  sucess: function(data){
                    alert(data);
                  }         
      });

         evt.preventDefault()
         // time = new Date().getTime()
         // regexp = new RegExp($(this).data('id'), 'g')
         // $(this).before($(this).data('fields').replace(regexp, time))
         // evt.preventDefault()

      });
    });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.remove_fields').click(function(event){
      $(this).prev('input[type=hidden]').val('1')
      $(this).closest('tr').hide()
      $(this).closest('fieldset').hide()
      event.preventDefault()
    });
  });
</script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.search_product').click(function(evt){
       // alert('in serch script')
        var sku = $('#search_by_sku').val()
         //alert(id)
        
         
         $.ajax({
                   url: "/products/" + sku +"/get_product_by_sku", // Route to the Script Controller method
                  type: "GET",
                  sucess: function(data){
                   // alert(data);
                  }       
              });
         evt.preventDefault()
      });
    });
</script>




<%= form_with(model: order, local: true) do |form| %>
  <% set_form_object form %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-4">
          <%= form.label :user_id, class: "required" %>
           <%= form.select :user_id, User.all.collect { |user| [user.first_name + " " + user.last_name , user.id]}, {:prompt => true}, {id: 'order_user_id'}%>
      </div>
           
               
      <div class="col-md-4">
          <%= form.label :address_id, class: "required" %>
          <%= form.grouped_collection_select :address_id, User.order(:id), :addresses, :id, :id, :line1, {:prompt => true}, { id: 'order_address_id'} %>
      </div>         
    </div>
    <hr>
     <div class="row">
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :line1 %></div>
          <div class="col-md-6"><%= text_field_tag :line1, "", :readonly => true %></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :line2 %></div>
          <div class="col-md-6"><%= text_field_tag :line2, "", :readonly => true %></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :line3 %></div>
          <div class="col-md-6"><%= text_field_tag :line3, "", :readonly => true %></div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :city %></div>
          <div class="col-md-6"><%= text_field_tag :city, "", :readonly => true %></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :state %></div>
         <div class="col-md-6"><%= text_field_tag :state, "", :readonly => true %></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :country %></div>
          <div class="col-md-6"><%= text_field_tag :country, "", :readonly => true %></div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :postal_code %></div>
          <div class="col-md-6"><%= text_field_tag :postal_code, "", :readonly => true %></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :contact_no %></div>
          <div class="col-md-6"><%= text_field_tag :contact_no, "", :readonly => true %></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-4"><%= label_tag :email %></div>
          <div class="col-md-6"><%= email_field_tag :email, "", :readonly => true %></div>
        </div>
      </div>
      <h3>Order Details</h3>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= form.label :order_no, class: "required" %>
          <%= form.text_field :order_no, id: :order_order_no %>
        </div>

        <div class="col-md-4">
            <%= form.label :is_express_delivery %>
            <%= form.check_box :is_express_delivery, id: :order_is_express_delivery %>

        </div>

        <div class="col-md-4">
           <%= form.label :is_custommer_Pickup %>
           <%= form.check_box :is_custommer_Pickup, id: :order_is_custommer_Pickup %>
        </div>
      </div>     
      <br>      
      <div class="row">
        <div class="col-md-4">
          <%= form.label :delivery_date, class: "required" %>
          <%= form.date_select :delivery_date, id: :order_delivery_date %>
        </div>

        <div class="col-md-4">
          <%= form.label :order_currency, class: "required" %>
          <%= form.select :order_currency, options_for_select([['INR'], ['JPY'], ['SGD'], ['USD'], ['AFN'], ['KHR'], ['CNY'], ['COP'], ['ISK']]) %>

        </div>

        <div class="col-md-4">
          <%= form.label :order_price, class: "required" %>
          <%= form.text_field :order_price, value: 0, id: :order_order_price, :readonly => true %>
        </div>
            
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <%= form.label :special_instruction %>
          <%= form.text_field :special_instruction, id: :order_special_instruction %>
        </div>
      </div>
      <hr>

      <h3>Line Items</h3>
      <div class="row line_items" id="hello">
        <div class="col-md-2"><strong>product ID</strong></div>
        <div class="col-md-2"><strong>SKU</strong></div>
        <div class="col-md-2"><strong>Price</strong></div>
        <div class="col-md-2"><strong>Quantity</strong></div>
        <div class="col-md-2"><strong></strong></div>
        <hr>
      </div>
  
      <h3>Search Product</h3>
      <div class="row">
        <div class="col-md-1"><strong>SKU:</strong></div>
        <div class="col-md-2"><%= text_field_tag :search_sku, '',id: :search_by_sku %></div>
        <div class="col-md-2"><%= link_to 'Search Product', '#', class: 'btn btn-sm btn-info search_product' %></div>

        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Sku</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Weight</th>
              <th>Width</th>
              <th>Height</th>
              <th>Depth</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="product_serched_by_sku">
          </tbody>
        </table>
      </div>

      <div class="row">
          <%= form.submit %>
      </div>
  <% end %>
<hr>

<!-- <div class="container">
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search products">
</div>
<table id="productTbl" class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Sku</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Weight</th>
      <th>Width</th>
      <th>Height</th>
      <th>Depth</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr id="<%= product.id %>">
        <td><%= image_tag(product.image_url(:thumb).to_s) %></td>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= product.weight %></td>
        <td><%= product.width %></td>
        <td><%= product.height %></td>
        <td><%= product.depth %></td>
        <td><%= link_to 'Add product', "#",class: 'add_product', id: product.id %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
 -->