<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
            <div class="field">
              <%= form.label :user_id %>
              <%= form.select :user_id, User.all.collect { |user| [user.first_name + " " + user.last_name , user.id]}, {:prompt => true}, {id: 'order_user_id'}%>
            </div>
            <div class="field">
              <%= form.label :address_id %>
              <%= form.grouped_collection_select :address_id, User.order(:id), :addresses, :id, :id, :line1, {:prompt => true}, { id: 'order_address_id'} %>
            </div>  
</div>
<div class="row">
            <div class="field">
              <%= form.label :order_no %>
              <%= form.text_field :order_no, id: :order_order_no %>
            </div>

            <div class="field">
              <%= form.label :is_express_delivery %>
              <%= form.check_box :is_express_delivery, id: :order_is_express_delivery %>

            </div>

            <div class="field">
              <%= form.label :is_custommer_Pickup %>
              <%= form.check_box :is_custommer_Pickup, id: :order_is_custommer_Pickup %>
            </div>
 </div>           
<div class="row">
            <div class="field">
              <%= form.label :delivery_date %>
              <%= form.date_select :delivery_date, id: :order_delivery_date %>
            </div>

            <div class="field">
              <%= form.label :order_currency %>
              <%= form.text_field :order_currency, id: :order_order_currency %>

            </div>

            <div class="field">
              <%= form.label :special_instruction %>
              <%= form.text_field :special_instruction, id: :order_special_instruction %>
            </div>
</div>
<div class="row">
            <div class="actions">
              <%= form.submit %>
            </div>
</div>
<% end %>

