 <tr>
<fieldset>
  
   
 
      <td><%= text_field_tag :name, nil, size: "20" %></td>
    
   
      <td><%= text_field_tag :sku, nil, size: "10" %></td>
    
   
     
      <td><%= number_field_tag :price, nil, size: "5" %></td>
    
   
      <td><%= number_field_tag :quantity, nil, size: "5" %></td>
    
   
      <td><%= hidden_field_tag :_destroy %>
      <%= link_to "remove", '#', class: "remove_fields btn btn-xs btn-danger"%></tr>td>
    
    

</fieldset>
</tr>