<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <tr id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </tr>
  <% end %>

<table align="center" width="50%" height="200%" cellspacing="30" >
  <tr align="center">
    <td><%= form.label :sku %></td>
    <td><%= form.text_field :sku, id: :product_sku %></td>
  </tr>
<tr> </tr>
  <tr align="center">
   <td> <%= form.label :name %></td>
    <td><%= form.text_field :name, id: :product_name %></td>
  </tr>

  <tr  align="center" >
    <td><%= form.label :quantity %></td>
    <td><%= form.number_field :quantity, id: :product_quantity %></td>
  </tr>

  <tr align="center">
    <td><%= form.label :length %></td>
    <td><%= form.text_field :length, id: :product_length %></td>
  </td>

  <tr align="center">
    <td><%= form.label :width %></td>
    <td><%= form.text_field :width, id: :product_width %></td>
  </tr>

  <tr align="center">
    <td><%= form.label :height %></td>
    <td><%= form.text_field :height, id: :product_height %></td>
  </tr>

  <tr align="center">
    <td><%= form.label :weight %></td>
    <td><%= form.text_field :weight, id: :product_weight %></td>
  </td>

  <tr align="center">
    <td><%= form.label :cost_price %></td>
    <td><%= form.text_field :cost_price, id: :product_cost_price %></td>
  </td>

  <tr align="center">
    <td><%= form.label :storage_type %></td>
    <td><%= form.text_field :storage_type, id: :product_storage_type %></td>
  </td>

   <tr align="center" >
     <td><%= form.label :prduct_image %></td>
    <td><%= form.file_field:prduct_image, id: :product_prduct_image %></td>

  </td> 

  <tr class="actions" align="right">
    <td ><%= form.submit %></td>
  </tr>
</table> 
<% end %>