<!-- app/views/sessions/new.html.erb -->



<%= form_tag '/login' do %>
<h1><span class="label label-default">Login</span></h1>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Login', '/login' %></li>
  <li><%= link_to 'Signup', '/signup' %></li>
</ul>
<table  width="50%" height="100px">
  <tr>
  <td width="40%">Email: </td><td><%= text_field_tag :email %></td>
</tr>
<tr>
  <td>Password:</td><td> <%= password_field_tag :password %></td>
  </tr>
  <tr>
    <td></td>
  <td style="height :30px"><%= submit_tag "Submit" %></td>
</tr>
<% end %>
