<p id="notice"><%= notice %></p>

<p>
 <h3><span class="label label-default">Posts having <%= @tag.name %> Tag</span></h3>
</p>
<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
	<h4> <%= link_to post.title, post %></h4>
	 <hr>
<% end %>

<p>
 <h3><span class="label label-default">Comments having <%= @tag.name %> Tag</span></h3>
</p>
<p id="notice"><%= notice %></p>

<% @comments.each do |comment| %>
	<h4> <%= link_to comment.body, comment.post %></h4>
	 <hr>
<% end %>
