<h1>Listing animals</h1>

<%= link_to 'New animal', new_animal_path %>
 
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
 
  <% @animals.each do |animal| %>
    <tr>
      <td><%= animal.name %></td>
      <td><%= animal.category %></td>
      <td><%= animal.description %></td>
      <td><%= link_to 'show', animal_path(animal) %></td>
      <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
      <td><%= link_to 'Destroy', animal_path(animal), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>