<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @animal.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @animal.description %>
</p>



<h2>Reviews</h2>
  <%= @animal.reviews.each do |review| %>
  <p>
    <strong>Reviewer:</strong>
    <%= review.reviewer %>
  </p>
 
  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>
<% end %>




<h2>Add a review:<h2>
	<%= form_with(model: [ @animal, @animal.reviews.build ]) do |form| %>
	<p>
		<%= form.label :reviewer %><br>
		<%= form.text_field :reviewer %>
	</p>

	<p>
		<%= form.label :body %><br>
		<%= form.text_area :body %>
	</p>

	<p>
		<%= form.submit %>
	</p>

<% end %>




<%= link_to 'Edit', edit_animal_path(@animal) %> 
<%= link_to 'Back', animals_path %>