<h1>Listing an Registered Studets</h1>
<table>
	<tr>
		<th>Student Name</th>
		<th> Contact Number</th>
		<th> Email Id</th>
		<th> Coursename</th>
		<th> Payment</th>
		<th>Birthdate </th>
		<th> Previous_course_name</th>
		<th>Previous_course_year </th>
		<th>payment_type </th>        


		
		<th colspan="2"</th>
	</tr>
	<% @registers.each do |register| %>
	<tr>
		<td><%= register.name %></td>
		<td><%= register.cno %></td>
		<td><%= register.email %></td>
		<td><%= register.coursename %></td>
		<td><%= register.payment %></td>
		<td><%= register.birthdate %></td>
		<td><%= register.previous_course_name %></td>
		<td><%= register.previous_course_year %></td>
		<td><%= register.payment_type %></td>
		<td> <%= link_to 'Edit' ,edit_user_register_path(current_user,register) %> </td>
		<td><%= link_to 'Destroy', user_register_path(current_user,register), method: :delete, data: { confirm: 'Are you sure?' }  %> </td>
            
              	<% end %></tr>  
    </table>
<p><%= link_to "New Registration", new_user_register_path(current_user) %></p>