<h1>Please fill up the following form</h1>
</div>
<%= form_for ([@user , @register])  do |f| %>
<% if @register.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@register.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<table align="center" width="50%" height="100px">

  <tr>
    <td>Curse Name:
<select coursename="menu">
<option value="0" selected>(please select:)</option>
<option value="1">MCA</option>
<option value="2">Msc Computer Science</option>
<option value="3">Msc IT</option>
<option value="other">other, please specify:</option>
</select> 
</td> </tr>
  <tr>
  <td>Fee:</td> <td><%= f.text_field :payment %></td>
  </tr>
  <tr>
  <td>Brth Date:</td> <td><%= f.text_field :birthdate %></td>
  </tr>
  <tr>
  <td>Previous Course Name:</td><td> <%= f.text_field :previous_course_name %></td>
</tr>
<tr>
  <td>Previous Course Year:</td><td> <%= f.text_field :previous_course_year %></td>
</tr>
<tr>
  <td>Payment Type:</td><td> <%= f.text_field :payment_type %></td>
</tr>
<tr >
  <td></td>
  <td style="height :50px"><%= f.submit "Submit" %></td>
</tr>
</table>
<% end %>
</br>


