<%= form_with(model: [ @post, @post.comments.build ]) do |f| %>

 <p>
   <%= f.label :postcomment %><br>
   <%= f.text_area :postcomment %>
 </p>
 
  <div class='field'>
   <% @tags = Tag.all %>
  <% @tags.each do |tag| %>          
      <input type="checkbox" value=<%= tag.id %> name="comment[tag_ids][]" />
      <label for="tag_list"><%= tag.name %></label>
    <% end %>
  </div>




 <p>
   <%= f.submit class: "btn btn-success btn-sm" %>
 </p>
<% end%>

