<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
       <%= link_to "BLOG",posts_path, class: "navbar-brand" %>
    </nav>

    <%= link_to "All Posts", posts_path %><br>
    <%= link_to "Sign Up", new_user_registration_path  %> |
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %><br>
    <p> <strong>Categories:</strong> <%= render 'posts/nav' %> </p><br>
    <p> <strong> Tags: </strong>
      <% @tags = Tag.all %>
      <% @tags.each do |tag| %>
        <%= link_to tag.name, tag %> |
      <% end %>
    </p>
    <% if user_signed_in? %>
    <p> <strong> <%= current_user.email  %> </strong> logged in </p>
    <% end %>
    <%= yield %>

    <% if user_signed_in? %>
      <%= link_to "ADD NEW POST", new_post_path %>
		<% end %>
  </body>
</html>
