<p id="notice"><%= notice %></p>

<h1>Posts</h1>
  
<table class="container">

  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <td><%= post.title %></td>
        <div class="spacer"></div>
        <td><%= post.description %></td>
        <div class="spacer"></div>
        <td><%= post.category.name %></td>
        <div class="spacer"></div>

        

          <td><%= link_to 'Show', post %></td>

          <% if post.user_id == current_user.id %>

          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <% end %>

        
      </tr>

    <% end %>
  </tbody>
</table><br />

<br />

<div id='tag_cloud'>
  <% tag_cloud Post.tag_counts, %w{m m m} do |tag, css_class| %>
    <%= link_to tag.name , tag_path(tag.name), class: css_class, title: 'Animal Tag', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%> 
  <% end %>
</div>


<br />

<table>
<tr>
<td><%= link_to 'New Post', new_post_path %></td>

<td><%= link_to 'Back', posts_path %></td>
</tr>
</table>

