
<div>
  <p><h4><%= comment.content %></h4></p>
    <p>Commented by <%= comment.user.email %> <%= time_ago_in_words(@post.created_at) %> ago</p>
    <% if !comment.tags.empty? %>
      <p>
          <strong>Tags:</strong><%= raw comment.tags.map { |t| link_to t.name, tag_path(t.id)}.join(', ') %>
      </p>
    <% end %>
  <div>

  <% if user_signed_in? %>
	<% if comment.user_id == current_user.id %>
	    <%= link_to 'Edit', edit_post_comment_path(comment.post,comment) %>
	    <%= link_to 'Delete', post_comment_path(comment.post,comment), method: :delete, data: {confirm: 'Are you sure?'} %>
	    <% end %>
	<% end %>
  </div>
</div>
<hr>