
<%= form_with(model: [ @post, @post.comments.build ]) do |f| %>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <div class="field">
    <% tags = get_tags %>
      <% tags.each do |tag| %>          
        <input type="checkbox" value=<%= tag.id %> name="comment[tag_ids][]" />
        <label for="tag_list"><%= tag.name %></label>
      <% end %>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end%>
