<strong>Comment:</strong>
 <%= comment.body %><br>
<td>Commented by user_id =><%= comment.user_id %> </td><br>

 <% if !comment.tags.empty? %>
      <p>
          <strong>Tags:</strong><%= raw comment.tags.map { |t| link_to t.name, tag_path(t.id)}.join(', ') %>
      </p>
    <% end %>
<p>
	<% if current_user.id == comment.user_id %>
	<%= link_to 'Update comment' , edit_comment_path(comment) %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               <% end %>
</p><hr>