<%= form_with(model: [ @post, @post.comments.build ]) do |form| %>
  
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>  <%= form.label :Tag %>

  <%= select_tag("comment[tag_ids][]", options_for_select(Tag.all.collect { |tag| [tag.name, tag.id] }, @post.comments.build.tags.collect { |tag| tag.id}), {:multiple=>true}) %>

</p>
  <p>
    <%= form.submit %>
  </p>
<% end %>