<%= form_for(@order, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="panel panel-default">
        <div class="panel-heading">Select</div>

 <div class="panel-body">
  
   <%= f.label :user_id %>

   <%= f.select :user_id, User.all.collect{|user| [user.first_name+" "+user.last_name, user.id]}, {:prompt => true}, {id: 'customer_id'} %>
 
 

 
    <%= f.label :address_id %>
    <%= f.grouped_collection_select :address_id, User.order(:id), :addresses, :id, :id, :line_1, {:prompt => true}, { id: 'order_address_id'} %>
  </div>
</div>



<div class="panel panel-default">
        <div class="panel-heading">User Details</div>

 <div class="panel-body">
    
          <%= f.fields_for :user, @order.build_user do |builder| %>
            
              
                  <%= builder.label "User EmailId :" %>
              
                          
                <%= builder.text_field :email, id: "email", :required => true %>
                
            

            
              
                <%= builder.label "First Name :" %>
              
              
                <%= builder.text_field :first_name, id: "first_name", :required => true %>
              
          

            
                <%= builder.label "Last Name :" %>
             
             
                  <%= builder.text_field :last_name, id: "last_name", :required => true %>
              

            
                <%= builder.label "Contact :" %>
             
                  <%= builder.text_field :contact, id: "contact", :required => true %>
              
            <% end %>
</div> 
</div>




<div class="panel panel-default">
        <div class="panel-heading">Address Details</div>

 <div class="panel-body">
            <%= f.fields_for :address, @order.build_address do |address| %>
            <div class="row">
                <div class="col-md-6">
                    <%= address.label "Shipping Address :" %>
                </div>
            </div>

                    
                    <%= address.label :line_1 %>
                             
                    <%= address.text_field :line_1 , :required => true , id: 1%>
                    
            
                    <%= address.label :line_2 %>
                
                     <%= address.text_field :line_2, :required => true, id: 2 %>
               
            
                  <%= address.label :street %>
                
                    <%= address.text_field :street, :required => true,id: 3%>
                
                  <%= address.label :city %>
                
                  <%= address.text_field :city , :required => true, id: 4%><br />
                
                    <%= address.label :state %>
                
                    <%= address.text_field :state, :required => true,id: 5 %>
                
                    <%= address.label :country %>
                
                    <%= address.text_field :country, :required => true,id: 6 %>
                
                    <%= address.label :postal_code %>
                
                    <%= address.text_field :postal_code, :required => true, id: 7 %>
                
            
             <div class="row">
                <div class="col-sm-6 col-sm-push-4" id="mylist"></div>
            </div>            
           <%end%>
          
    </div>
  </div>


<div class="panel panel-default">
  <div class="panel-heading">Order Details</div>

 <div class="panel-body">
<div class="form-group" >
     
  <div class="form-group">
    <%= f.label :order_no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :order_no, class: "form-control" %>
    </div>


  </div>
  <div class="form-group">
    <%= f.label :tracking_no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tracking_no, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_express_delivery, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :is_express_delivery, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_customer_pickup, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :is_customer_pickup, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dilivery_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :dilivery_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_currency, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
     <%=  f.select :order_currency, options_for_select([ "USD", "INR", "EUR", "AFN", "AUD", "JPY"]), :class => 'form-control', :required => true  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :special_instruction, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :special_instruction, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_value, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= order_value=@total_price %>
      <%= f.number_field :order_value, id: "order_order_value" , value: 0 ,class: "form-control" %>
    </div>
  </div>
</div>
</div>
</div>  


   <br/><br/>


    
  <div class="panel panel-default">
      <div class="panel-heading">Add Line Items For Product</div>
         <div class="panel-body">
           <%= f.fields_for :lineitems do |builder| %>
              <%=  render 'lineitem_fields', :f => builder %>
           <% end %>

        <%= link_to_add_fields "Add Line_items", f, :lineitems %>
       </div>
   </div>







<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>


<div class="form-group">
<div class="panel panel-default">
  <div class="panel-body">
<%= form_tag(products_path, :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
        
        <button type="button" id="search-btn">Search Product(By SKU or Name)!</button>
    <% end %><br /><br />
  </div>
</div>
</div>



<script type="text/javascript">
$(document).on("click", '#search-btn', function(){
      var search = $('#search').val()
        $.ajax({
                  url: "/products/get_product",
                  data: {
                    search: search
                  },
                 type: "GET",
           
             complete: function() {},
              success: function(data) {
                
                      $(".name:last").val(data['name']);
                      $(".sku:last").val(data['sku']);
                      $(".pid:last").val(data['product_id']);
                      $(".price:last").val(data['price']);
                    },
                error: function() {
                  alert("Ajax error!")
                } 

        });
});
</script>




<script type="text/javascript">
 $(document).on("change", '#customer_id', function() {
   var address = $('#customer_id :selected').val()
     $.ajax({
                  url: "/users/" + address, // Route to the Script Controller method
                 type: "GET",
             dataType: "json",
                 
             complete: function() {},
              success: function(data) { 
                       
                        $('#email').val(data['email']);
                        $('#first_name').val(data['first_name']);
                        $('#last_name').val(data['last_name']);   
                        $('#contact').val(data['contact']);                              
                       },
                error: function() {
                         alert("Ajax error!")
                       }
     });
 });


$(document).on("change", '#order_address_id', function() {
   var add = $('#order_address_id :selected').val()
     $.ajax({
                  url: "/addresses/" + add, // Route to the Script Controller method
                 type: "GET",
             dataType: "json",
                 
             complete: function() {},
              success: function(data) { 
                       
                        $('#1').val(data['line_1']);
                        $('#2').val(data['line_2']);
                        $('#3').val(data['street']);
                        $('#4').val(data['city']);
                        $('#5').val(data['state']);
                        $('#6').val(data['country']);
                        $('#7').val(data['postal_code']);
                      },
                error: function() {
                         alert("Ajax error!")
                       }
     });
 });
</script>



<script type="text/javascript">
$(document).on("change", '#customer_id', function() {
 
 var user_id =  this.value;
 
 $.ajax({
      url: "/users/"+user_id+"/get_addresses", //+SELLERID,
      type: "GET",
      dataType: "json",
      complete: function() {},
      success: function(data) { 
       var x = document.getElementById("order_address_id");
              x.innerHTML = "";

        for (i = 0; i < data.length; i++) { 
           
               var option = document.createElement("option");
               option.text = data[i]['line_1'];
               option.value = data[i]['id']
               x.add(option);


         }
         
      },
      error: function() {
         alert("error in ajax call");
        }
    });
});

</script>